//主登录框
.detailInfo-main-part {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 650px;
    height: 480px;
    overflow: hidden;
    text-align: center;
    margin: 10% auto 0;
    vertical-align: middle;
    background-color: #ffffff;
    box-shadow: 0 0 15px 15px #d9d9d9;
    font-family: monaco, -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.detailInfo-steps-div{
  margin-top: 40px;
  padding-left: 13%;
}

.detaiInfo-form{
  margin-left: 20px;
  margin-top: 25px;
  width: 500px;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
