span{
  margin-left: 15px;
}
.mine-home{
  position: absolute;
  width: 100%;
  display: block;
}
.overlay{
  position: 0 !important;
  display: block;
  position: absolute;
  width: 100%;
  background-size: 100%;
}

.my-time{
  margin-top: 12%;
  font-size: 80px;
  color:#ffffff;
}

.welcome1{
  margin-top: 20%;
  font-size: 80px;
  color:#ffffff;
}

.welcome{
  margin-top: 4%;
  font-size: 80px;
  color:#ffffff;
}

.choices{
  margin-top: 5%;
  font-size: 55px;
  color:#ffffff;
}

.comment-input{
  margin-top: 30px;
  height:60px;
  line-height: 60px;
  letter-spacing: 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 3.4rem;
  text-align: center;
  border:none;
  background: transparent;
  color:#fff;
  border-bottom: 3px solid #fff;
    outline:none;
    caret-color: #ffffff;
}

.comment-button:hover{
  cursor: pointer;
  background-color: #123456ï¼›
}

@-webkit-keyframes move-lvzu {
    0% {
        opacity: 0;
        /*background-color: #EEECE8;*/
        -webkit-transform: translateY(30px);
    }
    to {
        opacity: 1;
    }
}

.move-lvzu {
    -webkit-animation: move-lvzu 1.5s cubic-bezier(.4, 0, .2, 1) 0s 1;
    animation: move-lvzu 1.5s cubic-bezier(.4, 0, .2, 1) 0s 1;
}

@-webkit-keyframes trans-lvzu {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.trans-lvzu {
    -webkit-animation: trans-lvzu 1.5s cubic-bezier(.4, 0, .2, 1) 0s 1;
    animation:trans-lvzu 1.5s cubic-bezier(.4, 0, .2, 1) 0s 1;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}


  a{
    color:#ffffff;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

    
